<h1>Products#show_detail</h1>
<p>Find me in app/views/products/show_detail.html.erb</p>


<div>

    <p>Product number: <%= @details.id%></p>
    <p>name: <%= @details.name%></p>
    <p><%= link_to "Overview", products_show_path() %></p>
</div>